@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');

* {
    font-family: 'Grandstander', cursive;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #220b38, #780091);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0 30px;
}

.header {
    display: flex;
    align-items: center;
    /* centra verticalmente */
    justify-content: center;
    /* centra todo en el medio de la pantalla */
    gap: 15px;
    /* espacio entre texto e imagen */
    padding: 15px 0;
}

.header h1 {
    margin: 0;
    font-size: 26px;
    letter-spacing: 2px;
}

.header img {
    width: 60px;
    /* ajusta tamaño del logo */
    height: auto;
}

#desplegables {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 25px;
}

#desplegables p {
    margin: 0;
    font-size: 16px;
}

select {
    background: #2a1a38;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    color: white;
    font-size: 14px;
    margin-top: 5px;
}

article {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.card {
    background: #190830;
    border-radius: 20px;
    width: 220px;
    box-shadow: 0 0 15px rgb(255 255 255 / 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card img {
    width: 180px;
}

.card-btn{
    background: #510981;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    box-shadow: 0px 4px 4px rgb(100 0 255 / 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#manual .icons {
    display: flex;
    justify-content: center;
}

#manual .icons img {
    width: 140px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
    align-items: center;
}

.buttons button {
    background: #461c5a;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 200px;
}

.buttons button:hover {
    background: #6a2d8f;
}

select {
    background: #190830;
}